.end{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.end img{
    margin-top: -5%;
}
.end-content{
    width: 25%;
    max-width: 470px;
    color: white;
    margin-left: -3%;
}
.end-content h1{
    font-size: 60px;
    font-weight: 800;
    font-family: 'Inter';
}
.end-content span{
    color: #4AE290;
}
.end-content p{
    font-size: 20px;
    font-family: 'Open sans';
    font-weight: 400;
}
.btn-end{
    width: 40%;
}
footer{
    background-color: black;
    display: flex;
    padding: 60px 60px;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px){
    .end{
        justify-content: space-between;
    }
    .end img{
        width: 60%;
    }
    .end-content{
        width: 100%;
        margin-left: -15%;
    }
}
@media (max-width: 425px) {
    .end{
        display: block;
    }
    .end-content{
        margin-left: 15%;
        width: 80%;
        margin-top: -25%;
    }
    .end-content h1{
        font-size: 40px;
    }
    .end-content p{
        font-size: 16px;
    }
    .end img{
        width: 70%;
    }
    footer{
        padding: 15px;
        padding-top: 60px;
    }
}
@media (max-width: 320px){
    .end img{
        width: 80%;
    }
}